.corp-image
{
         width: 100vmax;
         height: 150vmin;         
}

a{
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 20px;
    border: black 2px solid;
    border-radius: 5px;
    background: linear-gradient(gray, black);    
}

a:hover
{
    border: #4f2762 2px solid;
    background: lightgrey;
    color: black;    
}

nav{
    display: flex;
    flex-direction: row;
    background-color: gray;    
    justify-content: center;
    align-items: center;
    margin: 10px;    
}

main
{
    background-image: url("../../../../public/images/hexagon.jpg"); 
    margin-bottom: 1rem;  
    width: 100vw;    
}

h1{
    color: white;
    text-align: center;
}

footer {
    color: white;
    margin-top: 0px;
    background: darkslateblue;
    text-align: center;
    height: 10vmin;
    padding-top: 1rem;
}

.back
{
    background: black;
}

.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.search label{
    color: white;
    margin-right: 1rem;
}

.search-result{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    gap: 1rem;
}

