<div class="back">
    <header>
      <div [ngClass]="authorized? 'container-after-login' : ''"> 
      <nav [ngClass]="authorized? 'nav-after-login' : 'nav-before-login'">
        <a href="">Home</a>
        <a href="/feedback">Feedback</a>
        <a href="/login" [ngClass]="authorized? 'a-hide' : ''">Login</a>
        <a href="/signup">Sign Up</a>        
      </nav>
      <div [ngClass]="authorized? 'avatar-container':'avatar-container-hide'">
        <img src="/images/avatar.jpg" class="avatar" alt="Avatar Logo"
        (mouseenter)="onAvatarMouseOver()">
        <p>
          {{user.login}}
        </p>
      </div>      
    </div>    
    </header>

    <div [ngClass]="displayMenu? 'usermenu':'hide' ">
      <div class="usermenu-section-left">
        <div (click)="onMyProfileClick()">My Profile</div>
        <div (click)="onViewStatisicsClick()">View Statistics</div>
        <div (click)="onMenuBackPressed()">Back</div>
      </div>
      <div class="usermenu-section-right">
        <div [ngSwitch]="selectedUserMenuItem">
          <div *ngSwitchCase="0">
            <app-user [user]="user" (LogOutClicked)="onLogout($event)"/>
          </div>
          <div *ngSwitchCase="1">
            <h1>User statistics:</h1>
            <app-graph>
              
            </app-graph>
          </div>          
        </div>        
      </div>
    </div>
    
    <main>
      <h1>Here is Our Blog</h1>     
      <div class="container">
        <app-post *ngFor="let p of dataService.getMostPopularPosts()" [post]="p"></app-post>
      </div> 
      
      <div class="search">
        <label for="search">Search for Blog</label>
        <input #searchInput type="text" name="search" placeholder="Enter Blog title">
        <button (click)="onSearchButtonPressed(searchInput.value)" class="simple-but">Search</button>
        <button (click)="onClearPresed()" class="simple-but">Clear</button>
      </div>
      <h1>Search Results:</h1>

      <div class="search-result">
        <app-post *ngFor="let p of searchResult" [post]="p"></app-post>        
      </div>

    </main>
    
    <footer>
      &copy; K105 KhAI
    </footer>
    </div>