
<div class="horizontal-bar-chart">

    <div class="chart-row">
        <div class="value"> 15 </div>
        <div class="bar">
        <span style="height: 10%">January</span>
        </div>
    </div>

    <div class="chart-row">
        <div class="value"> 30 </div>
        <div class="bar">
        <span style="height: 20%">February</span>
        </div>
    </div>

    <div class="chart-row">
        <div class="value"> 1000 </div>
        <div class="bar">
        <span style="height: 30%">March</span>
        </div>
    </div>
</div>

