<div>    
    <div class="form">
        <h1>Feedback</h1>
        <div>
            <label for="firstname">Firstname: </label>
            <input type="text" name="firstname"/>
        </div>

        <div>
            <label for="lastname">Lastname: </label>
            <input type="text" name="lastname">
        </div>

        <div>
            <label for="age">Age: </label>
            <input type="text" name="age">
        </div>

        <div>
            <label for="gender">Gender: </label>
        <select name="gender">
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
        </select>  

        <div>
            <input type="text" placeholder="Type your gender right here!"/>
        </div>             
        
        </div>
        
        <div>
            <label for="">How did you like the Blog? </label>

            <input type="radio" name="not-realy">
            <label for="not-realy">Not really</label>
                        
            <input type="radio" name="good-enough">
            <label for="good-enough">Good enough</label>

            <input type="radio" name="the-best">
            <label for="the-best">The best!</label>
            
        </div>

        <div>
            <label for="feedback">Feedback: </label>
            <textarea name="feedback" cols="30" rows="10"></textarea>
        </div>        
        
        <div>
            <label for="backEmail">Email me back with answer: </label>
            <input type="checkbox" name="backEmail">
        </div>
        
        <div>
            <button>Send</button>
            <button>Clear</button>
        </div>
    </div>
</div>
